.App {
  text-align: center;
}
.form{
  border: 1px solid ;
padding:10px
}
.container{
max-width: 800px;
margin: 0 auto;
padding: 30px;
}
.list{
margin-top:10px;
  border: 1px solid ;
padding:10px
}
.capitalize{
  text-transform: capitalize;
}
.listItem{
margin-bottom: 10px;
}